# Prerequisites
**/*.d

# Object files
**/*.o
**/*.ko
**/*.obj
**/*.elf

# Linker output
**/*.ilk
**/*.map
**/*.exp

# Precompiled Headers
**/*.gch
**/*.pch

# Libraries
**/*.lib
**/*.a
**/*.la
**/*.lo

# Shared objects (inc. Windows DLLs)
**/*.dll
**/*.so
**/*.so.*
**/*.dylib

# Executables
**/*.exe
**/*.out
**/*.app
**/*.i*86
**/*.x86_64
**/*.hex

# Debug files
**/*.dSYM/
**/*.su
**/*.idb
**/*.pdb

# Dependencies
**/.deps

# Kernel Module Compile Results
**/*.mod*
**/*.cmd
**/.tmp_versions/
**/modules.order
**/Module.symvers
**/Mkfile.old
**/dkms.conf


# CVS files
**/.cvsignore
**/CVS
**/CVS/Entries
**/CVS/Repository
**/CVS/Root

# automake files
**/autom4te.cache
**/configure
**/libtool
**/aclocal.m4
**/libtool.m4
**/ltoptions.m4
**/ltsugar.m4
**/ltversion.m4
**/lt-obsolete.m4
**/config.cache
**/config.guess
**/config.log
**/config.status
**/config.sub
**/eclipse.dic
**/INSTALL.auto
**/depcomp
**/install-sh
**/missing
**/ltmain.sh
**/.settings
**/configure.in.autoscan
**/configure.scan
**/Makefile.in
**/Makefile
**/*~
**/.#*
